@model to_do_list_project.Dtos.ToDoDto

<h2> New Task</h2>

<div asp-validation-summary="All" class=" text-danger"></div>

<form asp-action="Add" method="post">
    <div class="mb=3">
        <label asp-for="Descriotion" class="form-label">Description</label>
        <input asp-for="Descriotion" class="form-control" />

    </div>

    <div class="mb=3">
        <label asp-for="CatigoryId" class="form-label">Catigory</label>
        <select asp-for="CatigoryId" class="form-select" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))">
        </select>

    </div>

    <div class="mb=3">
        <label asp-for="DueDate" class="form-label">DueDate</label>
        <input asp-for="DueDate" class="form-control"/>

    </div>

    <div class ="mb=3">
        <label asp-for="StatusId" class="form-label">Status</label>
        <select asp-for="StatusId" class="form-select" asp-items="@(new SelectList(ViewBag.Statuses,"Id","Name"))">
            <option value=""></option> <!-- Add an empty option -->
        </select>
    </div>

    <button type="submit" class=" btn btn-primary">Add</button>
    <a asp-action="Index" class=" btn btn-primary">Cancel </a>

</form>